.so-thich { 
    background : orange ;
    color : white ; 
    }
    table tr td {
        color : blue ;
        }
        table tr td label{
            color : red ;
            }
            {backgroud : }        